/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 680px) {
	:root {
		--logo-size-width: 18px;
		--logo-size-height: 18px;
	}
}

@font-face {
	font-family: 'Helvetica';
	src: url('/fonts/Helvetica.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica';
	src: url('/fonts/Helvetica-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica';
	src: url('/fonts/Helvetica-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		background: #404448;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: #ffffff;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.animated-gradient {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: -1;
	background: linear-gradient(
		to bottom,
		rgb(var(--background-start-rgb)),
		rgb(var(--background-end-rgb))
	);
}
