/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		background: #fbfbfe;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: #fbfbfe;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.animated-gradient {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: -1;
	background: linear-gradient(
		to bottom,
		rgb(var(--background-start-rgb)),
		rgb(var(--background-end-rgb))
	); /* Ensure background gradient is applied */
}

.animated-gradient div {
	animation: move 40s linear infinite; /* Adjusted duration for slower animation */
}

@keyframes move {
	0% {
		transform: translate(0, 0);
		opacity: 1;
	}
	50% {
		transform: translate(-50vw, -50vh); /* Adjusted to prevent overflow */
		opacity: 0.7;
	}
	100% {
		transform: translate(0, 0);
		opacity: 1;
	}
}
